html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


body {
  margin:0;
  background-color: #FAF0E6;
  color:black;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";
}

header{
  width:100%;
  background-color: white;
  position :fixed;
  top: 0;
  z-index: 1000;
}

.header-left{
 float:left;
 padding:20px;
}

.header-left img{
	margin-right:10px;
	vertical-align: middle;
  width:40px;
}

.header-left a{
  color:black;
}

.headerleft span{
	vertical-align: middle;
}

/* menu-icon*/
.menu-icon {
  color:black;
  float: right;
  font-size: 40px;
  padding: 21px;
  display:none;
}

.menu-icon:hover{
  cursor:pointer;
}


.header-right{
  float: right;
  padding:30px 50px 0 50px;
  }
  
  a{
    text-decoration: none;
  }
  
  .header-right a{
    line-height:65px;
    display:block;
    padding:0px 20px;
    float:left;
    transition:all 0.6s;
    color:black;
  }
  
  .header-right a:hover{
    background-color:rgba(78, 73, 73, 0.3);
  }

  .menu{
    clear:both;

    display:none;
  }

  .menu a{
    line-height:65px;
    display:block;
    padding:0px 20px;
    float:left;
    transition:all 0.6s;
    color:black;
  }

  .menu a:hover{
    background-color:rgba(78, 73, 73, 0.3);
  }

  .top-wrapper{
    text-align: center;
    color:rgb(250, 249, 249);
    width:100%;
  }

  .top-wrapper h1{
    letter-spacing: 5px;
    font-size:60px;
    padding:20px;
    
  }

  .top-wrapper p{
    padding:10px;
    font-size:20px;
    
  }


  .container{
    background-size: cover;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;
    width:100%;
    margin:0 auto;
    padding:300px 0;
    color:black;
    opacity : 0;
   transform: translateY(20px);
   transition: all 1s;
   object-fit: cover; 

  }


.first{
  background-image: url(20.jpg);
  object-fit:cover;
}

.container h1{
 font-size: 90px;
 font-weight: normal;
}

.container p{
 font-size: 30px;
}


.info{
  text-align: center;
  margin: 0 auto;
  background-color: white;
  width:70%;
  border:black solid 2px;
  border-radius: 40px;
  margin-top:30px;
  position:absolute;
  top:700px;
  left:90px;
  right:90px;
}

.info h2{
  padding:20px 0;
}

.info-contents{
  padding:10px 30px;
}

.info-contents a{
color:black;
}

.info-contents a:hover{
color:#87CEFA;
}




#main-wrapper{
    padding-top:250px;
  }

.us-wrapper{
  padding-top:90px;
  text-align: center;
}

.us-wrapper img{
  width:500px;
  display:inline-block;
 }

.content {
  display:inline-block ;
  padding:0 60px;
}


.us-wrapper h3{
 margin-bottom:90px;
  padding-bottom:3px;
  font-size:25px;
}

.content h2{
  word-spacing: 5px;
  border-bottom: black solid 2px;
  font-size:40px;
  }
  
  .content p{
    margin:1cm auto;
    font-size:25px;
  }



#product-wrapper{
  text-align: center;
  margin: 0 auto;
  padding:60px 0 50px 0;
  background-color:#FAEBD7 ; 
}

#product-wrapper h1{
  padding-top:30px;
}

.kind{
  display:inline-block;
  padding:30px 30px 60px 0;
}

.kind img{
  display:block;
}

.kind p{
  padding-top:20px;
}

#product-wrapper a{
  display:block;
  color:white;
  background-color:#FFB6C1;
  width:50%;
  margin:0 auto ;
  padding:20px;
  border-radius: 20px;
}

#product-wrapper a:hover{
  opacity:0.7;
}






#contact-wrapper{
  text-align: center;
  padding:100px;
}

.contact-contents{
  margin: 0 auto;
  border:2px solid black;
  background-color: white;
  padding:70px 0;
  margin-top: 50px;
  width:auto;
  border-radius: 20px;
}



.btn-wrapper {
  text-align: center;
  padding-top:30px;
}

.btn-wrapper p {
  margin: 10px 0;
}

.btn {
  padding: 8px 24px;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  color:black;
}

.btn:hover {
  opacity: 1;
}

.phone {
border:1px solid black;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
  margin-right: 10px;
}

.instagram{
  background-color:#ee27ee ;
}




#store-wrapper{
  text-align: center;
  background-image:url("01.jpg") ;
 background-size: cover;
 position: relative;
 z-index: 0;
 overflow: hidden;
}

#store-wrapper:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

#store-wrapper h2{
  padding:80px 0;
}

.overview{
  background-color:rgba(255, 255, 255, 0.5);
  margin:0 auto;
}


dl{
padding:30px;
}

dt {
  float: left ;
  clear: left ;
  width: 120px ;
  border-bottom:dashed 1px black ;
  margin-bottom:15px;
}

dd {
  float: left ;
  margin-left: 1em ;
}






/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
 
  .header-right{
    display:none;
  }
  
  .menu-icon{
    display:block;
  }

  .us-wrapper img{
    display:block;
    margin:0 auto;
   }
}


/* スマホ向けレイアウト */
@media all and (max-width: 670px) {
  
  .header-right{
    display:none;
  }
  
  .menu-icon{
    display:block;
  }


  .us-wrapper img{
    display:block;
    margin:0 auto;
   }
  


}
